.page__quiz {
}
.quiz {

    &__container {
        max-width: 1380px;
    }

    &__body {
    }
    &__form {
    }
}

.form-quiz {


    &__body {
    }
    &__title {
        font-family: "Gilroy";
        font-weight: 400;
        line-height: 117%;
        color: #11100E;
        @include adaptive-value("font-size", 49, 22, 1);
        @include adaptive-value("margin-top", 66, 48, 1);
        @include adaptive-value("margin-bottom", 57, 32, 1);

    }
    &__items {
        display: flex;
        justify-content: center;
        column-gap: 15px;
        row-gap: 15px;

        @media (max-width: 1380px) {
            flex-wrap: wrap;
        }
    }
    &__item {
        border: 1px solid #000000;
        @include adaptive-value("padding-top", 17, 9, 1);
        @include adaptive-value("padding-left", 17, 15, 1);
        @include adaptive-value("padding-right", 17, 15, 1);
        cursor: pointer;
    }
}

.item-quiz {

    &__input {
        cursor: pointer;
        display: none;
        &:checked + label {
            .item-quiz__text {
                text-decoration: underline;
            }
        }
    }
    &__label {
        padding-bottom: 22px;
        cursor: pointer;
        position: relative;
        display: block;
    }
    &__img {
        & img {
            max-width: 100%;
        }
    }
    &__text {
        font-family: "Gilroy";
        font-weight: 400;
        line-height: 85%;
        color: #11100E;
        text-align: center;
        @include adaptive-value("font-size", 33, 20, 1);
        @include adaptive-value("margin-top", 26, 14, 1);

    }
    &__bottom {
        @include adaptive-value("margin-top", 66, 60, 1);
        @include adaptive-value("margin-bottom", 50, 30, 1);

        @media (min-width: 830px) {
            display: flex;
            justify-content: space-between;
        }
    }
    &__bottom-text {
        white-space: pre;
        font-family: "Gilroy";
        font-weight: 400;
        line-height: 74%;
        color: #11100E;
        @include adaptive-value("font-size", 38, 20, 1);
        margin-top: auto;
        margin-bottom: auto;
        @media (max-width: 830px) {
            margin-bottom: 40px;
        }
    }
    &__bottom-buttons {
        display: flex;
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;

        @media (min-width: 830px) {
            margin-left: 15px;
        }
        & a {
            text-align: center;
            @include adaptive-value("width", 169, 150, 1);
            @include adaptive-value("font-size", 26, 19, 1);
            margin-top: 0;
            @include adaptive-value("padding-top", 14, 8, 1);
            @include adaptive-value("padding-bottom", 14, 8, 1);
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
        .btn {
        }
        .btn_transperent {
            border: 1px solid #AF9678;
            background-color: transparent;
            color: #AF9678;

            @media (any-hover: hover) {
                &:hover {
                    color: #fff;
                    border: 1px solid rgba(175, 150, 120, .8);
                    background-color: rgba(175, 150, 120, .8);
                }
            }
        }


    }
}
.two-quiz {

    &__block {
        @media (max-width: 1230px) {
            display: flex;
            flex-direction: column;
        }
        @media (min-width: 1230px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__left {
        @media (max-width: 1230px) {
            display: flex;
            justify-content: center;
            margin-bottom: 45px;
        }
    }
    &__right {
    }
    &__right-item {

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 40, 15, 1);
        }

        & input {
            display: none;
            &:checked + label {
                background-color: #AF9678;
                color: #fff;
                border: 1px solid #AF9678;
            }
        }
        & label {
            cursor: pointer;
            display: block;
            font-family: "Gilroy";
            font-weight: 400;
            font-size: 35px;
            line-height: 80%;
            color: #11100E;
            @include adaptive-value("font-size", 35, 19, 1);
            @include adaptive-value("padding-top", 23, 17, 1);
            @include adaptive-value("padding-bottom", 23, 17, 1);
            padding-left: 17px;
            padding-right: 17px;
            border: 1px solid #000000;
            transition: all 0.3s ease 0s;
        }
    }



    .item-quiz__bottom {
    }
    .item-quiz__bottom-text {
        margin-right: 10px;
    }
    .item-quiz__bottom-buttons {


    }
    .btn {
    }
    .btn_transperent {
    }


}

.quiz-radio__input {
}
.quiz-radio__label {
}

.three-quiz {
    .two-quiz__left {
        @media (min-width: 1230px) {
            order: 1;
        }
    }
}






.popup_quiz {
    .close-plus {
        top: 12px;
        right: 12px;
    }

    .popup__text {
        @media (min-width: 1230px) {
            width: 700px;
        }
    }
}
.quiz-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .form-popup__btn {
        margin-top: 28px;
    }
}
.quiz-form__title {
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 26px;
    line-height: 108%;
    color: #0E0E0E;
    margin-bottom: 25px;
    @include adaptive-value("font-size", 26, 18, 1);
    & span {
        color: #E53434;
    }

}



.form-quiz__one {
    display: block;
}
.form-quiz__two {
    display: block;
}
.form-quiz__three {
    display: block;
}
